/* All common css starts  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 0.8;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
  padding: 0;
}

/* All common css ends  */

/* Header part start  */

.headerpart .navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000;
}
/* Header part ends  */

/* Banner part starts */
.banner {
  padding: 125px 0 70px;
}

.banner_title {
  padding-top: 30px;
  font-family: "Heebo", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  color: #21243d;
}

.banner_para {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #21243d;
  padding: 45px 128px 35px 0;
}

.banner_button {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 10px 20px;
  background-color: #ff6464;
  border: 0;
  border-radius: 2px;
}

.banner_image {
  border-radius: 50%;
}

.banner_image_bg {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  background-color: #edf7fa;
  position: relative;
  top: -230px;
  left: -5px;
  z-index: -1;
}
/* Banner part ends */

/*  Blog part starts  */
.blog {
  padding: 25px 0 30px;
  background-color: #edf7fa;
}

.blog_title {
  padding-bottom: 25px;
}

.blog .col-lg-5 {
  padding: 30px 20px;
  background-color: #ffffff;
}

.blog_box_title {
  font-family: "Heebo", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #21243d;
  padding-right: 70px;
}

.blog_box_date {
  display: flex;
  padding: 35px 0 30px 0;
}

.blog_box_date p {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
}

.blog_box_date_number {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 2px solid black;
}

.blog_box_para {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
/*  Blog part ends  */

/* Work part starts */
.workpart {
  padding: 35px 0 130px;
}

.workpart {
}

.workpart .col-lg-7 {
}

.workpart img {
  width: 100%;
}

.workpart_title {
  font-family: "Heebo", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 45px;
}

.work_box_title {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 700;

  letter-spacing: 0px;
  text-align: left;
}

.work_box_year {
  margin: 30px 0 25px;
  display: flex;
}
.year {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  margin-right: 25px;
  background-color: #142850;
}

.year p {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 4.5px;
}

.dashboard {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 4.5px;
}

.work_box_para {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 154px;
  line-height: 1.5;
}

.work_border_bottom {
  border-bottom: 2px solid #21243d;
}

.paddingtop {
}
/* Work part enda */

#footer .text-center a {
  font-size: 30px;
}
